{% extends "base.html" %}

{% load static %}

{% block header_css %}
	<link rel="stylesheet" href="{% static "jstree/dist/themes/default/style.min.css" %}"/>
{% endblock %}

{% block body_js %}
	<script src="{% static "jstree/dist/jstree.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}


<div id="create-file-dialog" title="Create New File" style="display: none;">
  <p class="validateTips">All form fields are required.</p>
 
  <form>
  <fieldset>
    <label for="name">File Path</label>
    <small>ex: /root/file.html</small>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" /><br><br>
    <label for="file_type">File Type:</label><br>
    <input type="radio" name="radio" value="HTML">.html<br>
    <input type="radio" name="radio" value="JS">.js<br>
    <input type="radio" name="radio" value="SVG">.svg
  </fieldset>
  </form>
</div>

	<div id="content_loading"><img src="{% static "img/ajax-loader.gif" %}" alt="Loading..." /></div>

	<div id="file_column">
		<div id="greeting" style="display: none;">
		</div>
				<div id="arrow_container">
					<img id="file_column_arrow" src="{% static "img/arrow.gif" %}" alt="Arrow"/>
				</div>
            
                <p id="file_list_header">Your Files&nbsp;&nbsp;<img id="newFileButton" src="{% static "img/plus.png" %}" alt="add new file" /></p>
              
              	<div id="file_list_container">
	                <ul id="file_list" style="overflow:hidden;">
	                </ul>
                </div>
	</div>
	
	<div id="content_column">
		<div id="error_message" style="display: none; color: #FF0000;"></div>
		<article id="file_content">
			
			<button id="save_file" style="float:left; display: block; width: 90px; margin-top: 10px;">Save</button>
			<button id="preview_file" style="float:left; display: block; width: 90px; margin-top: 10px; margin-left: 10px;">Preview</button>
			<button id="download_file" style="float:left; display: block; width: 90px; margin-top: 10px; margin-left: 10px;">Download</button>
			
			
			
			<div id="file_editor" style="position:relative;top:15px;"></div>
		</article>
	</div>
{% endblock %}