{% extends "base.html" %}

{% load static %}

{% block body_js %}
	<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}

	<div id="content_loading"><img src="{% static "img/ajax-loader.gif" %}" alt="Loading..." /></div>

	<div id="file_column">
		<div id="greeting" style="display: none;">
			<p>Hello {{ user_full_name }}.<br/> You have <span id="num_files"></span> files.</p>
			<p><a href="/editor/create_file">Create New File</a></p>
		</div>
		<ul id="file_list"></ul>
				<div id="arrow_container">
					<img id="file_column_arrow" src="{% static "img/arrow.gif" %}" alt="Arrow"/>
				</div>
            
                <p id="file_list">Your Files</p>
              
                <ul>
                        <li id="one"><a href="#">htmleditor</a></li>
                </ul>
	</div>
	
	<div id="content_column">
		<div id="error_message" style="display: none; color: #FF0000;"></div>
		<article id="file_content">
			<header><h1></h1></header>
			<div id="file_editor"></div>
		</article>
	</div>
{% endblock %}