{% extends "base.html" %}

{% load static %}

{% block header_css %}
	<link rel="stylesheet" href="{% static "jstree/dist/themes/default/style.min.css" %}"/>
{% endblock %}

{% block body_js %}
	<script src="{% static "jstree/dist/jstree.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}

	<div id="content_loading"><img src="{% static "img/ajax-loader.gif" %}" alt="Loading..." /></div>

	<div id="file_column">
		<div id="greeting" style="display: none;">
			<!--<p>Hello {{ user_full_name }}.<br/> You have <span id="num_files"></span> files.</p>
			<p><a href="/editor/create_file">Create New File</a></p>-->
		</div>
				<div id="arrow_container">
					<img id="file_column_arrow" src="{% static "img/arrow.gif" %}" alt="Arrow"/>
				</div>
            
                <p id="file_list_header">Your Files</p>
              
              	<div id="file_list_container">
	                <ul id="file_list" style="overflow:hidden;">
	                </ul>
                </div>
	</div>
	
	<div id="content_column">
		<div id="error_message" style="display: none; color: #FF0000;"></div>
		<article id="file_content">
			<header><h1></h1><button id="save_file">Save</button>
			<br>
			<button id="preview_file">Preview</button></header>
			<div id="file_editor"></div>
		</article>
	</div>
{% endblock %}